* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}
header {
  background-color: #1d3557;
  color: #fff;
  padding: 10px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


@media only screen and (max-width: 600px) {
  .res-kecil{
    width: 300px;
  }
  .card-kecil{
    width: 300px;
    padding: 20px 20px;
  }
}